<a href="https://colab.research.google.com/github/Aman78695/ML_Model_to_score_candidate_for-_Hiring/blob/main/ML_Model_to_score_candidate_for__Hiring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [208]:
import pandas as pd
import numpy as np

In [209]:
df=pd.read_csv('/content/Applications_for_Machine_Learning_internship_edited.xlsx - Sheet2.csv',header=0)

In [210]:
## Cleaning and converting the 'Performance_UG' column values to a percentage by removing non-numeric characters and splitting by '/',
#then calculating the percentage by dividing the first value by the second value.
df['Performance_UG'] = df['Performance_UG'].fillna('').str.replace(r'[^0-9./]+', '', regex=True)
df['Performance_UG'] = df['Performance_UG'].str.split('/').apply(lambda x: float(x[0]) / float(x[1]) * 100 if len(x) == 2 else np.nan)

In [211]:
## Cleaning and converting the 'Performance_12' column values to a percentage by removing non-numeric characters and splitting by '/',
#then calculating the percentage by dividing the first value by the second value.
df['Performance_12'	] = df['Performance_12'].fillna('').str.replace(r'[^0-9./]+', '', regex=True)
df['Performance_12'] = df['Performance_12'].str.split('/').apply(lambda x: float(x[0]) / float(x[1]) * 100 if len(x) == 2 else np.nan)

In [212]:
## Cleaning and converting the 'Performance_10' column values to a percentage by removing non-numeric characters and splitting by '/',
#then calculating the percentage by dividing the first value by the second value.
df['Performance_10'	] = df['Performance_10'].fillna('').str.replace(r'[^0-9./]+', '', regex=True)
df['Performance_10'] = df['Performance_10'].str.split('/').apply(lambda x: float(x[0]) / float(x[1]) * 100 if len(x) == 2 else np.nan)

In [213]:
#filling the nan values with 0
df['Performance_UG'].fillna(0,inplace=True)
df['Performance_PG'].fillna(0,inplace=True)
df['Performance_12'].fillna(0,inplace=True)
df['Performance_10'].fillna(0,inplace=True)

In [215]:
#dropping the name columns as there is no values
df.drop(columns=['Name'],inplace=True)

In [216]:
df

,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,Are you available for 3 months,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,1,0,0,1,"MS-Excel, MS-Word, Deep Learning, MySQL, Pytho...","Yes, I am available for 3 months starting imme...",Bachelor of Vocation (B.Voc.),Software Engineering,2021,0,92.857143,0.0,0.0
1,2,0,0,0,"Git, GitHub, Linux, Adobe After Effects, Adobe...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,0,89.000000,0.0,0.0
2,2,2,0,0,"Amazon Web Services (AWS), Docker, Hadoop, MS-...","Yes, I am available for 3 months starting imme...",Master of Science (M.S.),Data Science And Analytics,2022,0,0.000000,0.0,0.0
3,3,2,2,0,"Adobe XD, BIG DATA ANALYTICS, Canva, Data Anal...","Yes, I am available for 3 months starting imme...",Bachelor of Engineering (B.E),NaN,2024,0,0.000000,100.0,100.0
4,2,2,0,0,"C++ Programming, Data Science, Machine Learnin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2023,0,81.000000,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,2,2,0,2,"Data Analytics, Amazon Web Services (AWS), Dat...","Yes, I am available for 3 months starting imme...",B.Tech,Mechanical Engineering,2021,0,0.000000,0.0,0.0
1132,3,3,2,3,"Deep Learning, Docker, HTML, MS-Office, Machin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,0,0.000000,0.0,0.0
1133,3,1,3,3,"Data Science, Deep Learning, English Proficien...","Yes, I am available for 3 months starting imme...",B.Tech,Electronics and Communication,2025,0,87.700000,100.0,0.0
1134,2,1,0,0,"Python, Data Analytics, MS-Excel, Machine Lear...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2024,0,79.000000,100.0,0.0
1135,2,0,0,0,"C++ Programming, Database Management System (D...","Yes, I am available for 3 months starting imme...",B.Tech,Engineering,2024,0,0.000000,0.0,0.0

In [202]:
df['Performance_UG']

0       92.857143
1       89.000000
2        0.000000
3        0.000000
4       81.000000
          ...
1131     0.000000
1132     0.000000
1133    87.700000
1134    79.000000
1135     0.000000
Name: Performance_UG, Length: 1136, dtype: float64

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1136 entries, 0 to 1135
Data columns (total 13 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Python (out of 3)                             1136 non-null   int64
 1   Machine Learning (out of 3)                   1136 non-null   int64
 2   Natural Language Processing (NLP) (out of 3)  1136 non-null   int64
 3   Deep Learning (out of 3)                      1136 non-null   int64
 4   Other skills                                  1070 non-null   object
 5   Are you available for 3 months                1136 non-null   object
 6   Degree                                        1093 non-null   object
 7   Stream                                        966 non-null    object
 8   Current Year Of Graduation                    1136 non-null   int64
 9   Performance_PG                                1136 non-null   object
 10  Performance_UG                                1136 non-null   float64
 11  Performance_12                                1136 non-null   float64
 12  Performance_10                                1136 non-null   float64
dtypes: float64(3), int64(5), object(5)
memory usage: 115.5+ KB

In [204]:
df

,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,Are you available for 3 months,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,1,0,0,1,"MS-Excel, MS-Word, Deep Learning, MySQL, Pytho...","Yes, I am available for 3 months starting imme...",Bachelor of Vocation (B.Voc.),Software Engineering,2021,0,92.857143,0.0,0.0
1,2,0,0,0,"Git, GitHub, Linux, Adobe After Effects, Adobe...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,0,89.000000,0.0,0.0
2,2,2,0,0,"Amazon Web Services (AWS), Docker, Hadoop, MS-...","Yes, I am available for 3 months starting imme...",Master of Science (M.S.),Data Science And Analytics,2022,0,0.000000,0.0,0.0
3,3,2,2,0,"Adobe XD, BIG DATA ANALYTICS, Canva, Data Anal...","Yes, I am available for 3 months starting imme...",Bachelor of Engineering (B.E),NaN,2024,0,0.000000,100.0,100.0
4,2,2,0,0,"C++ Programming, Data Science, Machine Learnin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2023,0,81.000000,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,2,2,0,2,"Data Analytics, Amazon Web Services (AWS), Dat...","Yes, I am available for 3 months starting imme...",B.Tech,Mechanical Engineering,2021,0,0.000000,0.0,0.0
1132,3,3,2,3,"Deep Learning, Docker, HTML, MS-Office, Machin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,0,0.000000,0.0,0.0
1133,3,1,3,3,"Data Science, Deep Learning, English Proficien...","Yes, I am available for 3 months starting imme...",B.Tech,Electronics and Communication,2025,0,87.700000,100.0,0.0
1134,2,1,0,0,"Python, Data Analytics, MS-Excel, Machine Lear...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2024,0,79.000000,100.0,0.0
1135,2,0,0,0,"C++ Programming, Database Management System (D...","Yes, I am available for 3 months starting imme...",B.Tech,Engineering,2024,0,0.000000,0.0,0.0

In [222]:
def hire_best_intern(df):
    weights = {
        'Python (out of 3)': 0.15,
        'Machine Learning (out of 3)': 0.15,
        'Natural Language Processing (NLP) (out of 3)': 0.1,
        'Deep Learning (out of 3)': 0.1,
        'Other skills': 0.1,
        'Performance_PG': 0.05,
        'Performance_UG': 0.05,
        'Performance_12': 0.05,
        'Performance_10': 0.05,
        'Are you available for 3 months': 0.15,
        'Degree': 0.1,
        'Stream': 0.15,
        'Current Year Of Graduation': 0.05
    }

    scores = []
    for _, row in df.iterrows():
        python_score = row['Python (out of 3)'] * weights['Python (out of 3)']
        ml_score = row['Machine Learning (out of 3)'] * weights['Machine Learning (out of 3)']
        nlp_score = row['Natural Language Processing (NLP) (out of 3)'] * weights['Natural Language Processing (NLP) (out of 3)']
        dl_score = row['Deep Learning (out of 3)'] * weights['Deep Learning (out of 3)']
        other_skills_score = 0
        if isinstance(row['Other skills'], str):
            other_skills_score = len(row['Other skills'].split(',')) * weights['Other skills']
        availability_score = 1 if row['Are you available for 3 months'] == 'Yes' else 0
        degree_score = 1 if row['Degree'] else 0

        stream_score = 0
        if isinstance(row['Stream'], str):
            # Assign stream scores based on priority
            if row['Stream'] in ['Data Science', 'Data Analytics', 'Machine Learning', 'Artificial Intelligence']:
                stream_score = 1.5 * weights['Stream']  # Give higher weightage to priority streams
            elif row['Stream'] == 'Data Science And Analytics':
                stream_score = 1.3 * weights['Stream']  # Assign higher weightage to 'Data Science And Analytics'
            elif row['Stream'] == 'Computer Science':
                stream_score = 1.2 * weights['Stream']  # Assign higher weightage to 'Computer Science'
            else:
                stream_score = 1 * weights['Stream']  # Assign default weightage for other streams

        graduation_score = 1 if row['Current Year Of Graduation'] > 0 else 0

        # Uncomment the following lines if 'Performance_PG' is present in the DataFrame
        # pg_score = row['Performance_PG'] * weights['Performance_PG']

        # Calculate the percentage score for 'Performance_UG' and apply weight
        ug_score = row['Performance_UG'] * weights['Performance_UG']

        # Calculate the percentage scores for 'Performance_12' and 'Performance_10' and apply weights
        score_12 = row['Performance_12'] * weights['Performance_12']
        score_10 = row['Performance_10'] * weights['Performance_10']

        overall_score = (
            python_score +
            ml_score +
            nlp_score +
            dl_score +
            other_skills_score +
            availability_score +
            degree_score +
            stream_score +
            graduation_score +
            ug_score +
            score_12 +
            score_10
        )

        scores.append(overall_score)

    available_interns = df[df['Are you available for 3 months'] == 'Yes']

    sorted_interns = available_interns.assign(Score=scores).sort_values(by='Score', ascending=False)

    if len(sorted_interns) > 0:
        return sorted_interns.iloc[0]

In [223]:
best_intern = hire_best_intern(df)

In [224]:
best_intern

Python (out of 3)                                     NaN
Machine Learning (out of 3)                           NaN
Natural Language Processing (NLP) (out of 3)          NaN
Deep Learning (out of 3)                              NaN
Other skills                                          NaN
Are you available for 3 months                        NaN
Degree                                                NaN
Stream                                                NaN
Current Year Of Graduation                            NaN
Performance_PG                                        NaN
Performance_UG                                        NaN
Performance_12                                        NaN
Performance_10                                        NaN
Score                                           60.221429
Name: 200, dtype: object